<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <link type="text/css" rel="stylesheet" href="/assets/styles.css"/>
    <title><%= @cat_page.split(" ").map(&:capitalize).join(' ') %></title>
  </head>
  <body>
    <h1><%= @cat_page.split(" ").map(&:capitalize).join(' ') %></h1>
      <%= erb :task_table %>
  </body>
</html>
