<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <link type="text/css" rel="stylesheet" href="/assets/styles.css"/>
    <title>Simple To Do</title>
  </head>
  <body>
    <h1>Simple To Do List</h1>
    <form method="post" action="/newtask">
      <table>
        <thead>
          <th>Task</th>
          <th>Date added</th>
          <th>Date due</th>
          <th>Categories</th>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr><td><%= task.description %></td></tr>
          <% end %>
        </tbody>
      </table>
      <table>
        <tr><th colspan=2>Add new task!</th></tr>
        <tr>
          <td width="15%"><label for="description">Describe task:</label></td>
          <td width="85%"><input type="text" name="description" value="<%= @overlong_description %>" id="task_input_box"></td>
        </tr><tr>
          <td><input type="submit"></td>
        </tr><tr>
          <td colspan=2>
            <% if @user_message %>
              <%= @user_message %>
            <% end %>
          </td></tr>
      </table>
    </form>

  </body>
</html>
