<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <link type="text/css" rel="stylesheet" href="/assets/styles.css"/>
    <title>Simple To Do</title>
  </head>
  <body>
    <h1>Simple To Do List</h1>
      <%= erb :task_table %>
      <br />
      <table>
        <form method="post" action="/newtask">
        <tr><td>&nbsp;</td><td style="align:left;">Add new task!</td></tr>
        <tr>
          <td class="new_task_label"><label for="description">Describe task:</label></td>
          <td width="90%"><input type="text" name="description" value="<%= @overlong_description %>" class="task_input_box"></td>
        </tr><tr>
          <td class="new_task_label">Date due:</td>
          <td><input type="text" name="date_due" placeholder="Optional: format mm/dd or yyyy/mm/dd" class="other_input_box"></td>
        </tr><tr>
          <td class="new_task_label">Categories:</td>
          <td><input type="text" name="categories" value="" placeholder="Separate by commas: design, debugging, requirements writing" class="other_input_box"></td>
        </tr><tr>
          <td>&nbsp;</td>
          <td>
            <input type="submit" class="input-button">&nbsp;
            <div class="user_message">
              <% if @user_message %>
                <%= @user_message %>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </form>

  </body>
</html>
