<!DOCTYPE html>
<html>
  <head>
    <link rel="icon"
        type="image/png"
        href="/assets/images/favicon.ico">
    <meta charset='utf-8' />
    <link type="text/css" rel="stylesheet" href="/assets/styles.css"/>
    <title>Login</title>
  </head>
  <p style="font-size:.75em;"><a href="/">&#8656; Home</a></p>
  <h2>Simple To Do List</h2>
  <h1>Login</h1>
  <body>
    <table class="create_account"><tr><td><div class="enclosing-blue-box">
    </table>
  </body>
</html>
