body {
  font-family: Verdana, Geneva, sans-serif;
}

table {
  width: 100%;
  border: lightblue solid 2px;
  max-width: 1200px;
}

#add_new_task {
  max-width: 400px;
}

.header {
  width: auto;
  border: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.thead {
  background-color: #fcffc1;
}

.task_table_tds {
  padding: 4px 2px 4px 2px;
  vertical-align: top;
}

.task {
  width: 50%;
  padding-left: 4px;
  padding-right: 4px;
}

.date_added {
  width: 12%;
}

.date_due {
  width: 12%;
}

.categories {
  width: 26%;
}

.delete {
  width: 4%;
}

.rightmost {
  border-right: none;
}

.colored_row {
  background-color: #d4f4f9;
}

td {
  margin: 0px;
  border: 0px;
  padding: 2px;
}

#bottommost {
  border-bottom: 0px;
}

.checkbox {
  height: 15px;
  width: 15px;
}

.new_task_label {
  text-align: right;
  width: 10%;
}

textarea {
  width: 275px;
  font-family: Verdana, Geneva, sans-serif;
}

.other_input_box {
  width: 275px;
  font-family: Verdana, Geneva, sans-serif;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

button {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
     font-size: .85em;
}

button:hover {
  color: red;
}

.input-button {
  font-size: 1.1em;
  background-color: green;
  color:white;
  border: 1px grey solid;
  border-radius: 4px;
}

.user_message {
  color: red;
  display: inline;
}
