body {
  font-family: Verdana, Geneva, sans-serif;
}

table {
  width: 100%;
  border: lightblue solid 2px;
  max-width: 1200px;
}

.thead {
  background-color: lightyellow;
}

tr {
  border-bottom: 1px darkgrey solid;
}

.task {
  width: 50%;
  padding-left: 2px;
}

.date_added {
  width: 10%;
}

.date_due {
  width: 10%;
}

.categories {
  width: 30%;
}

.rightmost {
  border-right: none;
}

.colored_row {
  background-color: lightgrey;
}

td {
  margin: 0px;
  border: 0px;
  padding: 2px;
}

#bottommost {
  border-bottom: 0px;
}

h1 {
}

#task_input_box {
  width: 99%;
  height: 40px;
}
